@tailwind base;
@tailwind components;
@tailwind utilities;

.bento__wrapper .bento__item {
  border-radius: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.bento__wrapper {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.bento__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
}

.bento__item.expanded {
  opacity: 1;
}

.bento__item.expanded:hover{
  transform: none;
}

.bento__item.hidden {
  opacity: 0;
}

.bento__wrapper.shrink {
  transform: scale(0.9);
  opacity: 0.5;
}

.bento__item.expandedContent {
  opacity: 1;
}

.bento__wrapper > .bento__item:nth-child(2),
.bento__wrapper > .bento__item:nth-child(5),
.bento__wrapper > .bento__item:nth-child(8) {
  background: #f4e064;
  border: dashed 2px #ba8e23;
}

.bento__wrapper > .bento__item:nth-child(6),
.bento__wrapper > .bento__item:nth-child(3) {
  background: #b19cd8;
  border: dashed 2px #341539;
}

.bento__wrapper > .bento__item:nth-child(4),
.bento__item:nth-child(7) {
  border: dashed 2px #000000;
}


/*------Letter Animation Bounce------*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncing-letter {
  display: inline-block;
  transition: transform 0.2s ease;
}

.bento__item:hover .bouncing-letter {
  animation: bounce .5s ease infinite;
  animation-delay: calc(1s * var(--index));
}

.text-bounce span {
  --index: 0; 
}
.text-bounce span:nth-child(1) { --index: 0; }
.text-bounce span:nth-child(2) { --index: 0.1; }
.text-bounce span:nth-child(3) { --index: 0.2; }
.text-bounce span:nth-child(4) { --index: 0.3; }
.text-bounce span:nth-child(5) { --index: 0.4; }
.text-bounce span:nth-child(6) { --index: 0.5; }
.text-bounce span:nth-child(7) { --index: 0.6; }
.text-bounce span:nth-child(8) { --index: 0.7; }
.text-bounce span:nth-child(9) { --index: 0.8; }
.text-bounce span:nth-child(10) { --index: 0.9; }
.text-bounce span:nth-child(11) { --index: 1; }
.text-bounce span:nth-child(12) { --index: 1.1; }
.text-bounce span:nth-child(13) { --index: 1.2; }
.text-bounce span:nth-child(14) { --index: 1.3; }
.text-bounce span:nth-child(15) { --index: 1.4; }
.text-bounce span:nth-child(16) { --index: 1.5; }
.text-bounce span:nth-child(17) { --index: 1.6; }
.text-bounce span:nth-child(18) { --index: 1.7; }
.text-bounce span:nth-child(19) { --index: 1.8; }
.text-bounce span:nth-child(20) { --index: 1.9; }
.text-bounce span:nth-child(21) { --index: 2.0; }
.text-bounce span:nth-child(22) { --index: 2.1; }


/*------Notification Bubble------*/
.notification-bubble {
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.item2__title h1:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.item2__title h1 { 
  transition: transform 0.3s ease;
}

.item3__title:hover .icon {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.item3__title .icon {
  transition: transform 0.3s ease;
}

.item3__title:hover h1 {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.item3__title h1 {
  transition: transform 0.3s ease;
}


.notification-bubble.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -10px);
}


/*------Spin------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-spin {
  animation: spin 5s linear infinite;
}


/*------Scrollbar------*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media (max-width: 500px) {
  .bento__item:hover {
    transform: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  }

  .item2__title h1:hover {
    transform: none;
  }

  .item3__title:hover .icon {
    transform: none;
  }
  
  .item3__title:hover h1 {
    transform: none;
    transition: transform 0.3s ease;
  }
}

.second__scroll p span{
  display: block;
  margin: 1rem 0;
}



